// SWIPER CORE/////////////////
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.swiper-slide {
  width: 80%;
  width: 15rem;
  width: 33.33%;
}

header {
  // height: 100vh !important;
  height: 70vh !important;
  background-color: yellow !important;
}
#top-data {
  height: 45px;
}
.nav-custom {
  background-color: transparent !important;
  position: absolute !important;
  // right: 0;
  // left: 0;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Prata", serif;
}
.slide-item-1 {
  background: url("../img-rest/rest1.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

.slide-item-2 {
  background: url("../img-rest/rest2.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

.slide-item-3 {
  background: url("../img-rest/rest3.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

// .slide-item-4 {
//   background: url("../img-slider/agreement-1000px-min.webp") no-repeat center
//     center;
//   background-size: cover;
//   height: 70vh !important;
// }

// .slide-item-5 {
//   background: url("../img-slider/accounting-min.webp") no-repeat center center;
//   background-size: cover;
//   height: 70vh !important;
// }
.slide-item-1::after,
.slide-item-2::after,
.slide-item-3::after,
.slide-item-4::after,
.slide-item-5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slide-item-1 h3,
.slide-item-2 h3,
.slide-item-3 h3 {
  font-size: 45px !important;
}
.event-text {
  z-index: 10;
  letter-spacing: 1.25px;
  animation-name: animeEventTextUp;
  animation-duration: 1.5s;
}
@keyframes animeEventTextUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  25% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// MENU PAGE *****************
.menu-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../img-rest/menu-bg.webp) center center no-repeat;
  background-size: cover;
}

.menu-items-text {
  font-size: 1.25rem;
  line-height: 1.35;
}
.menu-text {
  font-size: 1rem;
  line-height: 1.6;
  // opacity: 0.6;
}

.hh2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid yellow;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.hh2 span {
  background: #fff;
  padding: 0 10px;
}

// HORIZONTAL LINE*******

.pt-food-price-top {
  display: flex;
  justify-content: space-between;
}

// .pt-food-title {
//   text-transform: none !important;
// }
.pt-food-title {
  font-size: 20px;
  line-height: 28px;
}
.pt-food-price-line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--bs-primary);
  flex: 1;
  // margin-top: 10px;
  margin: 0 10px;
  position: relative;
  bottom: -14px;
  opacity: 0.7;
}

.pt-food-price-main {
  // font-family: var(--title-fonts);
  font-size: 20px;
  font-weight: 400;
  // color: var(--primary-color);
  line-height: 28px;
}

// -------my try
.item-wrapper {
  display: flex;
  justify-content: space-between;
}
.item-name {
  font-size: 20px;
  line-height: 28px;
}
.item-line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--bs-primary);
  flex: 1;
  margin: 0 10px;
  position: relative;
  bottom: -14px;
  opacity: 0.7;
}
.item-price {
  // font-family: var(--title-fonts);
  font-size: 20px;
  font-weight: 400;
  color: var(--bs-primary);
  line-height: 28px;
}
// END HORIZONTAL LINE
.color-tester1 {
  height: 200px;
  width: 200px;
  background: #080b0e;
}
.color-tester2 {
  height: 200px;
  width: 200px;
  background: #101418;
}
