// SWIPER CORE/////////////////
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.swiper-slide {
  width: 80%;
  width: 15rem;
  width: 33.33%;
}

header {
  // height: 100vh !important;
  height: 70vh !important;
  background-color: yellow !important;
}
#top-data {
  height: 45px;
}
.nav-custom {
  background-color: transparent !important;
  position: absolute !important;
  // right: 0;
  // left: 0;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Prata", serif;
}
.slide-item-1 {
  background: url("../img-rest/rest1.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

.slide-item-2 {
  background: url("../img-rest/rest2.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

.slide-item-3 {
  background: url("../img-rest/rest3.webp") no-repeat center center;
  background-size: cover;
  height: 70vh !important;
}

// .slide-item-4 {
//   background: url("../img-slider/agreement-1000px-min.webp") no-repeat center
//     center;
//   background-size: cover;
//   height: 70vh !important;
// }

// .slide-item-5 {
//   background: url("../img-slider/accounting-min.webp") no-repeat center center;
//   background-size: cover;
//   height: 70vh !important;
// }
.slide-item-1::after,
.slide-item-2::after,
.slide-item-3::after,
.slide-item-4::after,
.slide-item-5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slide-item-1 h3,
.slide-item-2 h3,
.slide-item-3 h3 {
  font-size: 45px !important;
}
.event-text {
  z-index: 10;
  letter-spacing: 1.25px;
  animation-name: animeEventTextUp;
  animation-duration: 1.5s;
}
@keyframes animeEventTextUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  25% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
